<main>

    <h1>{{ title }}</h1>
    <div class="row">
        <aside class="col-md-3 mb-3">
            <div class="form-group">
                <label for="search-text">Search:</label>
                <input class="form-control" type="text" id="search-text" aria-describedby="search-text" autocomplete="off" placeholder="Search...">
                <!-- [(ngModel)]="searchText"> вставить этот код в строку выше инпут в конце -->

            </div>
            <p>Sort By:</p>
            <select name="" id="">
                <!-- <select (change)="selectChangeHandler($event)" class="mb-3"> заменить этим кодом строку выше-->
        <option value="age">Newest</option>
        <option value="name">Alphabetically</option>
            </select>
            <section class="col-mb-9">
                <ul>
                    <li class="phones">
                        <!-- *ngFor="let phone of productList | filter:search-text | orderBy: 'age" > вставить этот код  в ли выше который-->
                        <!-- <div *ngFor="let item of items | orderBy: 'id'"> {{ item }} </div> новый вариант. тот что выше не работает у дэбики         -->
                        <div class="conteiner-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <!-- <img class="img-fluid" src=" " alt="phone-image"> -->
                                        <!-- <img class="img-fluid" src="../../assets/{{ phone.imageUrl }} " alt="phone-image"> -->
                                        <!-- <img class="img-fluid" src="../../assets/{{ phones.imageUrl }} " alt="phone-image"> -->
                                    </figure>
                                </div>
                                <div class="col-md-8">
                                    <h2>
                                        <!-- <a routerLink=""{{ '/item/' + phone.id }}>{{ phone.name }}</a> -->
                                    </h2>
                                    <!-- <p>{{ phone.snippet }}</p> -->
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>

            </section>

        </aside>

    </div>
    <p>phone-list</p>
</main>